/* font-setup */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.inter-festive {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared */

/* header */
header {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(/images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px 598px, 1320px 600px;
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  border-radius: 16px;
}

header p {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

header h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
  width: 632px;
  height: 190px;
}

.discount {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.discount img {
  width: 802.9px;
  height: 500px;
}
.discount-details h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.discount-details p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.discount-details h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}

.welcome-party {
  height: 80vh;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px 598px, 1320px 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.welcome-text h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  width: 642px;
  height: 176px;
  margin-bottom: 24px;
}
.welcome-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  width: 697px;
  height: 60px;
}
.welcome-text button {
  background-color: black;
  color: white;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
  margin-left: 32px;
  cursor: pointer;
}
